.content {
    padding-top: 20px;
    width: 80%;
    margin: 0 auto;
    max-width: 600px;
}
div {
    font-family: "Roboto";
}
input {
    padding: 0 12px;
}
.scale {
    text-decoration: none;
}
img {
    height:fit-content;
}