.content {
    padding-top: 20px;
    width: 80%;
    margin: 0 auto;
    max-width: 600px;
}
div {
    font-family: "Roboto";
}
input {
    padding: 0 12px;
}
img {
    height:fit-content;
}
ul {
    list-style: none;
    padding: 0 !important;
}
li {
    text-align: center;
}
.weather-icon {
    width: 50px;
}
.temp-max {
    font-weight: bold;
}
.temp-max, .temp-min {
font-size: 12px;
}
.weather-icon {
    display: block;
    margin: 0 auto;
}
